.img {
    tab-size: 25;
    padding: left;
    align-content: center;
}

body {
    color: darkturquoise;
    text-align: center;
    font-family: cursive;
    font-weight: normal;
    background-color: darkturquoise;
}

.p {
    text-align: left;
    font-family: fantasy;
    text-emphasis-color: aquamarine;
    font-style: italic;
}
